*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.hero{
  background: url('./oppenheimer-movie-cillian-murphy-8k-wallpaper-uhdpaper.com-477@1@l.jpg') no-repeat;
  min-height: 100vh;
  background-size: cover;
}
.header{
  display: flex;
}



.navbar{
  margin-top: 25px;
  margin-left: 80px;
  
}


.navbar a{
  font-size: 18px;
  text-decoration: none;
  padding-left: 10px;
  font-size: 15px;
  
}

